body {
  box-sizing: border-box;
}

p{
  text-wrap: normal;
}

.container {
  position: relative;
  margin-top: 100px;
  box-sizing: border-box !important;
}

.button {
  width: 200px;
}

.loginButton {
  position: relative;
  display: block;
  margin-top: 20px !important;
  width: 200px;
}

.defaultPaperBox {
  width: 600px;
  padding: 10px;
  box-sizing: border-box;
}

.link {
  text-decoration: none;
}

.loginMask {
  width: 600px;
}

.progressBar {
  position: relative;
  margin-top: 20px;
}

.errorText {
  color: red !important;
}

.logoutButton {
  position: relative;
}

.title {
  flex-grow: 1;
}

.loggedInUserInfo {
  padding-right: 30px;
}

.titleLogo {
  display: inline-block;
  vertical-align: -4px;
  width: 25px;
  margin-left: 5px;
}

.dashboard {
  flex-grow: 1;
  margin-top: 100px !important;

  .tile {
    height: 500px;
    width: 500px;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden !important;
  }

  .splitDivider {
    margin-top: 10px;
    margin-bottom: 10px;
  }

}

.addrsList {
  height: 300px;
}

.addrsListTitle {
  font-weight: bold;
}

.genLink {
  display: block;
  position: relative;
  margin-top: 20px !important;
  background: #efefef;
  padding: 10px;
  word-wrap: break-word;
}

.linkCopyButton{
  margin-top: 10px !important;
  display: inline;
}

.receive {
  color: #008040 !important;
}

.sent {
  color: #e6096a !important;
}

.history{
  padding-bottom: 50px !important;
}

::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #424242;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #424242;
}

.addrHelpOutlined {
  display: inline-block;
  margin-left: 3px !important;
}