body {
  box-sizing: border-box;
}

.container {
  position: relative;
  margin-top: 100px;
}

.loginButton {
  position: relative;
  display: block;
  margin-top: 20px !important;
  width: 200px;
}

.defaultPaperBox {
  padding: 10px;
  box-sizing: border-box;
}

.link {
  text-decoration: none;
}

.loginMask {
  width: 600px;
}